body {
  font-family: Arial;
  background: #f2f4f8;
}

.container {
  width: 400px;
  margin: 100px auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  background: #007bff;
  color: white;
  border: none;
}

#message {
  margin-top: 15px;
}